<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhujiang.myapplication">
    <!-- 添加必要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" /> <!-- 打开闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 许可使用照相机 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 许可调用相机硬件 -->
    <uses-feature android:name="android.hardware.camera" /> <!-- 许可调用相机自动对焦 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="com.person.buddy.permission.JPUSH_MESSAGE" /> <!-- Required -->
    <permission
        android:name="com.mytest.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".phone.GetPhoneActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".statusBar.StatusBarActivity" />
        <activity android:name=".WheelActivity" />
        <activity android:name=".GetWheelActivity" />
        <activity android:name=".pageRecycler.PageActivity" />
        <activity android:name=".flowView.FlowActivity" />
        <activity android:name=".qmui.QmuiWebActivity" />
        <activity android:name=".emoji.EmojiActivity" />
        <activity android:name=".collaspingLayout.CollaspingActivity" />
        <activity android:name=".wifi.WifiActivity" />
        <activity android:name=".shared.SharedActivity" />
        <activity
            android:name=".likeView.LikeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qrcode.ActivityScanerCode"
            android:screenOrientation="portrait" /> <!-- ShareSDK的activity -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561cae6ae0f55abd990035bf" />

        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".jchat.LoginActivity" /> <!-- 极光im -->
        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required 显示通知栏 -->
                <category android:name="com.mytest" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="com.mytest" />
            </intent-filter>
        </receiver> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.im.android.helpers.IMReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.im.android.action.IM_RESPONSE" />
                <action android:name="cn.jpush.im.android.action.NOTIFICATION_CLICK_PROXY" />

                <category android:name="com.mytest" />
            </intent-filter>
        </receiver> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" /> <!-- Required since JCore 1.1.7. SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="im.sdk.debug.DataProvider"
            android:exported="true" /> <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" /> <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="a11540abdf145f446a417099" />

        <activity android:name=".jchat.ChatActivity" />
        <activity android:name=".runText.RunTextActivity" />
        <activity android:name=".localmedia.LocalMediaActivity" />
        <activity android:name=".listView.ListViewActivity2" />
        <activity android:name=".collaspingLayout.TabLayoutTestActivity" />
        <activity android:name=".animotion.AnimActivity" />
        <activity android:name=".view.ViewActivity" />
        <activity android:name=".theme.ThemeChangeActivity" />
        <activity android:name=".pdf.PdfShowActivity" />
        <activity android:name=".faceonline.OnlineFaceDemo" />
        <activity android:name=".faceonline.BaseVideoActivity" />

        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="&apos;5ac4416b&apos;" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="Android_Demo" />

        <activity android:name=".recycler.RecyclerTest" />
        <activity android:name=".TestView" />
        <activity android:name=".changeImage.ChagneImageActivity" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity
            android:name=".fillblack.FillBlackActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".bottomnav.BottomNavActivity"
            android:label="@string/title_activity_bottom_nav" />
        <activity android:name=".view.RoundProgressActivity" />
        <activity
            android:name=".game.GameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".game.GameActivity2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".game.GameWalkActivity.WalkActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".banner.MyBannerActivity" />
        <activity android:name=".viewShare.ViewShare1Activity" />
        <activity android:name=".viewShare.ViewShare2Activity" />
        <activity
            android:name=".game.car.CarGameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".game.wheel.FerrisGameActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".TextActivity" />
        <activity android:name=".game.textDraw.TextDrawActivity" />
        <activity
            android:name=".lottie.LottieActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".drawableSpit.DrawableSpitActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".recordmp3.Mp3recordActivity"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".SkipActvity"></activity> -->
        <activity android:name=".parent.ParentViewActivity" />
    </application>

</manifest>